@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500;700&family=Open+Sans:wght@400;700&display=swap');
/* =======================GERAL */
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: #2C2B3D;
  
}
/* ======================HEADER */
header{
  display: flex;
  justify-content: space-between;
  margin: 70px 99px 100px;
  
}
ul{
  display: flex;
  gap: 64px;
  font-family: 'JetBrains Mono', sans-serif;
  font-weight: 500;
}
ul li{
  list-style: none;
  color: #fff;
}
/* =====================MAIN */
main{
  display: flex;
  gap: 82px;
  margin-inline: 90px;
}
.text{
  margin-left: 110px;
}
.text h1{
  font-size: 36px;
  font-family: 'JetBrains', sans-serif;
  font-weight: 700;
  color: #fff;
  word-spacing: 20px;
}
.text span{
  color: #00BFA6;
}
.text p {
  margin-top: 59px;
  font-family: 'Open Sans', sans-serif;
  font-weight:400 ;
  line-height: 28px;
  color: #C2C2C2;
  text-align: center;
  width: 600px;
}
/* ====================FOOTER */
.img-footer{
  position: fixed;
  bottom: 20px;
  left: 20px;
}  
.line {
  border: 1px solid #00BFA6;
  width: 568px;
  margin: 110px auto 8px;
}
footer p{
  text-align: center;
  margin-top: 27px ;
  color: #fff;
}
footer p a{
  text-decoration: none;
  color: #fff;
}

@media(max-width: 1280px){
  main{
    padding-top: 100px;
  }
  .text{
    margin-left: 50px;
  }
  .line {
    border: 1px solid #00BFA6;
    width: 568px;
    margin: 270px auto 8px;
  }
}
 